.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    background-color: black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 2px solid white;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    background-color:red;
  }
  
  td {
    background-color: whitesmoke;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }

  button{
    color: black;
    background-color: red;

  }